body {
    background-image: url(./../../assets/img/background_top.jpg);
    background-repeat: no-repeat;

    font-family: 'Maven Pro', sans-serif;
    color: $dark-normal;
}

.floating-nav {
    width: 100%;
    position: fixed;
    top: $spacer / 4;
    left: 0;
    z-index: 999;

    .container {
        display: flex;
        justify-content: center;
        background-color: transparent;
    }

    .floating-nav-inner {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: $white;
        border-radius: $border-radius-lg;
        box-shadow: 0 0 24px -2px rgb($dark-dark, 0.25);

        a {
            display: inline-block;
            padding: 12px 16px;
            text-transform: capitalize;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.section {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 1;

    .title {
        font-size: 1.563rem;
        font-weight: 600;
        color: $dark-light;
        text-transform: uppercase;
    }

    .subtitle {
        font-weight: 600;
        font-size: 2.188rem;
        color: $dark-normal;
        text-transform: capitalize;
    }
}

.banner {
    min-height: 100vh;

    .name,
    .title {
        color: $dark-dark;
    }

    .social-profiles {
        a {
            display: inline-block;

            &:hover {
                text-decoration: none;
            }

            img {
                width: 30px;
                height: 30px;
            }
        }
    }

    .name {
        font-size: 1.563rem;
        font-weight: 600;
    }

    .title {
        font-size: 3.125rem;
        font-weight: 700;
        text-transform: capitalize;
    }

    .description {
        font-size: 1.2rem;
        font-weight: 600;
    }
}

.skills {
    min-height: 585px;

    .skill {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;

        .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            background-color: $primary-normal;
            border-radius: $border-radius;

            img {
                width: 30px;
                height: 30px;
            }
        }

        .skill-title {
            font-size: 1.563rem;
            font-weight: 600;
            padding: $spacer / 2 0;
            margin-bottom: 0;
        }

        .skill-text {
            text-align: center;
            font-size: 0.875rem;
            font-weight: 600;
        }
    }
}

.works {
    min-height: 100vh;
}

.findme {
    min-height: 715px;

    .text {
        font-weight: 600;
        font-size: 1rem;
    }

    .contacts {
        .contact {
            padding: $spacer;
            filter: grayscale(100);
            transition: $transition-base;

            .text {
                padding: $spacer / 2 0;
                text-transform: uppercase;
                font-size: 1rem;
                font-weight: 600;
                color: $dark-dark;
            }

            &:hover {
                text-decoration: none;
                transition: $transition-base;
                filter: grayscale(0);

                .text {
                    color: $primary-normal;
                }
            }
        }
    }
}

.footer {
    background-color: $light-light;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}